body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    max-width: 960px; /* 可以根据需要调整 */
    width: 50%; /* 占屏幕的三分之二 */
    margin: auto;
}

@media screen and (max-width: 600px) {
    .body {
        width: 100%; /* 在小屏幕上占满整个屏幕 */
    }
}

.post {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-user-details {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.post-time {
    font-size: 0.8em;
    color: #888;
}

.post-body {
    padding: 0 15px;
}

.post-content {
    margin-bottom: 8px;
    line-height: 1.5;
    color: #333;
}

.post-image {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.post-image img {
    width: 150px;
    height: 150px;
    margin-right: 8px;
    object-fit: cover; /* 保持长宽比，完全覆盖容器 */
}

