body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    max-width: 960px; /* 可以根据需要调整 */
    width: 70%; /* 占屏幕的三分之二 */
    margin: auto;
}

@media screen and (max-width: 600px) {
    .body {
        width: 100%; /* 在小屏幕上占满整个屏幕 */
    }
}

.post {
    background-color: white;
    margin: 0 15px;
    padding: 15px;
    /* border-radius: 10px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 70px auto;
    
}

.post-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}



.username {
    font-size: 1.1em;
    color: rgb(87, 107, 149);
}

.post-time {
    font-size: 0.8em;
    color: #888;
}

.post-body {
    /* padding: 0 15px; */
    /* margin-left: 70px; */
}

.post-content {
    line-height: 1.5;
    color: #333;
    margin: 10px 0;
}

.post-image {
    grid-template-columns: repeat(3, 33%);
    display: grid;

}

.post-image img {
    width: 95%;
    aspect-ratio: 1/1;
    margin-right: 8px;
    object-fit: cover; /* 保持长宽比，完全覆盖容器 */
}


.post-time, .post-location {
    margin-top: 10px;
}
.post-location {
    color: rgb(87, 107, 149)
}
.header {
    height: 350px;
    background-color: gray;
    margin: 0 15px;
    position: relative;
}
#post-1 {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.name {
    color: white;
    margin-right: 20px;
    margin-top: 16px;
    font-size: 22px;
}
.user-info {
    position: absolute;
    right: 48px;
    bottom: -28px;
    display: flex;
}
.header-top {
    padding: 28px 48px;
    display: flex;
    justify-content: space-between;
}
.header-left-item1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: rgb(234, 108, 90);
}

.header-left-item2 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: rgb(243, 190, 81);
}

.header-left-item3 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: rgb(99, 196, 82);
}
.header-right-item1 {
    margin-right: 28px;
}

.header-right-item2 {
    margin-right: 28px;
}
.header-right {
    display: flex;
}