{% load static %}
<!doctype html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#" class="w-full h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <title>Segment Anything Demo</title>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Segment Anything Demo"/>
    <script defer="defer" src="{% static 'dist/js/bundle.b9eaac288d2f74c5fb33.min.js' %}"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body class="w-full h-full">
    <span id="obj_len">{{objects_len}}</span>
    <span id="cur_id">0</span>
    <audio style="display: none;" controls="controls" hidden id="audio" autoplay="true"  src="{{audio_fp}}">123</audio>
    <div id="root" class="w-full h-full">

    </div>
    <div id="second-layer" class="second-layer-container">
        <div class="second-layer-wrapper">
            <img id="second-layer-img" src="{% static 'dist/assets/data/target.jpg' %}" alt="">
        </div>
    </div>
    <div onclick="nextObj()" id="third-btn">
        <span>下一个</span>
    </div>
    <div onclick="preObj()" id="second-btn">
        <span>上一个</span>
    </div>
    <script>
        function playAudio() {
            audio = document.getElementById('audio')
            audio.play()
        }

        function updateAudio(audio_src) {
            audio = document.getElementById('audio')
            audio.src = audio_src
            audio.play()
        }

        function second_layer_explore(){
            $.ajax({
                url: "/second_layer_explore/",
                type: "POST",
                data: JSON.stringify({ img_id: getImgId(), pyq_id: getPyqId(), cur_id: getCurObjId() }),
                contentType: 'application/json',
                headers: { 'X-CSRFToken': getCookie('csrftoken') }, // 获取CSRF token
                success: function(response) {
                    console.log(response.audio_fp); 
                    updateAudio(response.audio_fp)
                },
                error: function(xhr, status, error) {
                    console.error(error); 
                }
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getPyqId() {
            return window.location.href.split('pyqs/')[1].split('/')[0]
        }
        function getImgId() {
            return window.location.href.split('image/')[1].split('/')[0]
        }

        function getObjLen() {
            let e = document.getElementById('obj_len')
            return Number(e.innerText);
        }

        function getCurObjId() {
            let e = document.getElementById('cur_id')
            return Number(e.innerText);
        }

        function nextObj() {
            let cur_obj_id_ele = document.getElementById('cur_id')
            let max_obj_id = getObjLen()
            let cur_obj_id = getCurObjId()
            if (cur_obj_id === max_obj_id) {
                isLastObj();
                return;
            } else {
                cur_obj_id_ele.innerHTML = `${cur_obj_id + 1}`
                second_layer_explore()
            }
        }
        function preObj() {
            let cur_obj_id_ele = document.getElementById('cur_id')
            let cur_obj_id = getCurObjId()
            if (cur_obj_id === 0) {
                isFirstObj();
                return;
            } else {
                cur_obj_id_ele.innerHTML = `${cur_obj_id - 1}`
                second_layer_explore()
            }
        }
        function isLastObj() {
            console.log('最后一个对象');
        }
        function isFirstObj() {
            console.log('第一个对象');
        }

    </script>
</body>
</html>