<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
</head>
<body>
    <div class="setting-container">
        <div onclick="submit()" class="submit-btn">
            <span>提交</span>
        </div>
        <div class="title">
            偏好设置
        </div>
        <div class="content">
            <div class="subbox1">
                <div class="subtitle">
                    <span class="subtitle-text">描述风格</span>
                </div>
                <div class="sub-content two-col">
                    <div onclick="clickItem1()" id="item1" class="item">
                        <span class="sub-content-text">第一人称</span>
                    </div>
                    <div onclick="clickItem2()" id="item2" class="item">
                       <span class="sub-content-text">第三人称</span> 
                    </div>
                </div>
            </div>
            <div class="subbox2">
                <div class="subtitle">
                    <span class="subtitle-text">美学描述</span>
            </div>
                <div class="sub-content two-col">
                    <div onclick="clickItem3()" id="item3" class="item">
                        <span class="sub-content-text">开启</span>
                    </div>
                    <div onclick="clickItem4()" id="item4" class="item">
                        <span class="sub-content-text">关闭</span>
                    </div>
                </div>
            </div>
            <div class="subbox3">
                <div class="subtitle">
                    <span class="subtitle-text">情感描述</span>
                </div>
                <div class="sub-content two-col">
                    <div onclick="clickItem5()" id="item5" class="item">
                        <span class="sub-content-text">开启</span>
                    </div>
                    <div onclick="clickItem6()" id="item6" class="item">
                        <span class="sub-content-text">关闭</span>
                    </div>
                </div>
            </div>
            <div class="subbox4">
                <div class="subtitle">
                    <span class="subtitle-text">置信度</span>
                </div>
                <div class="sub-content three-col">
                    <div onclick="clickItem7()" id="item7" class="item">
                        <span class="sub-content-text">高</span>
                    </div>
                    <div onclick="clickItem8()" id="item8" class="item">
                        <span class="sub-content-text">中</span>
                    </div>
                    <div onclick="clickItem9()" id="item9" class="item">
                        <span class="sub-content-text">低</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>

<script>
    let item1 = document.getElementById('item1')
    let item2 = document.getElementById('item2')
    let item3 = document.getElementById('item3')
    let item4 = document.getElementById('item4')
    let item5 = document.getElementById('item5')
    let item6 = document.getElementById('item6')
    let item7 = document.getElementById('item7')
    let item8 = document.getElementById('item8')
    let item9 = document.getElementById('item9')
    let des_style = "1"
    let aesthetic = true
    let emotion = true
    let confidence = "1"
    function clickItem1() {
        des_style = "1"
    }
    function clickItem2() {
        des_style = "2"
    }
    function clickItem3() {
        aesthetic = true
    }
    function clickItem4() {
        aesthetic = false
    }
    function clickItem5() {
        emotion = true
    }
    function clickItem6() {
        emotion = false
    }
    function clickItem7() {
        confidence = "1"
    }
    function clickItem8() {
        confidence = "0.8"
    }
    function clickItem9() {
        confidence = "0.6"
    }

    function submit() {
          fetch('/setting/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({ 'des_style': des_style, 'aesthetic': aesthetic, 'emotion': emotion, 'confidence': confidence }),
            }).then(response => response.json())
                  .then(data => {
                    window.location.href = `/`;
                  })
         
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
</script>